.pagination {
    margin: 10px;
}

.pageNumber {
    cursor: pointer;
    padding: 2px;
    border: 1px solid grey;
}

.selectPage {
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
}
